@model AdminDyanamoEnterprises.DTOs.Master.MaterialTypePageViewModel
@{
    ViewData["Title"] = "CategoryType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
                <h4 class="page-title">Material Type</h4>
                <div>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Mifty</a></li>
                        <li class="breadcrumb-item"><a href="#">Apps</a></li>
                        <li class="breadcrumb-item active">Material Type</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="card-body pt-0">
                            @using (Html.BeginForm("MaterialType", "MaterialType", FormMethod.Post))
                            {
                                @Html.HiddenFor(model => model.AddMaterial.MaterialID, new { id = "editMaterialId" })

                                <div class="row align-items-end">
                                    <div class="col-md-4 mb-3">
                                        <label class="form-label">
                                            @Html.DisplayNameFor(model => model.AddMaterial.MaterialID)
                                            </label>
                                        @Html.TextBoxFor(model => model.AddMaterial.MaterialName, new { @class = "form-control", id = "editMaterialName" })
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <button type="submit" class="btn btn-success" id="saveButton">Save</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table mb-0 checkbox-all" id="datatable_1">
                            <thead class="table-light">
                                <tr>
                                    <th class="ps-0">Serial-No</th>
                                    <th class="ps-0">Material</th>
                                    <th class="ps-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.MaterialList != null && Model.MaterialList.Any())
                                {
                                    int i = 1;
                                    foreach (var item in Model.MaterialList)
                                    {
                                        <tr id="row_@item.MaterialID">
                                            <td>@i</td>
                                            <td>@item.MaterialName</td>
                                            <td>
                                                <a href="@Url.Action("Edit", "MaterialType", new { id = @item.MaterialID })" class="edit-material"
                                                   data-id="@item.MaterialID"
                                                   data-name="@item.MaterialName">
                                                    <i class="las la-pen text-secondary fs-18"></i>
                                                </a>
                                                <a href="#" class="delete-material" data-id="@item.MaterialID" data-name="@item.MaterialName">
                                                    <i class="las la-trash-alt text-secondary fs-18"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="3">No materials found.</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-material">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete <strong id="deleteItemName"></strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="confirmDeleteBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/js/MaterialType.js")"></script>